$white-color: #fff;
$text-color: #183B56;
$header-button: #1565D8;
$small-text: #5A7184;
$stroke-color: #ECEEF2;
$golden-color: #FAAD13;
$light-grey: #B3BAC5;
$link-text: #FAFAFB;
$link-border: #ECEEF2;
$link-type2: #3F598A;
$link-type3: #00B8D9;
$link-type4: #36B37E;
$howtostart: #F7F8F9;
$testimonial-bkg: #DFE1E3;
