@import './mixins';
@import './colors';
@import './breakpoints';

.contact{
    @include flex-direction(column);
    width: 1340px;
    /* @include height-width(349px, 1340px); */
    border-radius: 16px;
    background-color: $header-button;
}

.top{
    @include flex-direction(row);
    padding: 0px 100px;
    margin-top: 72px;
    justify-content: space-between;
    p{
        @include hero-font;
        line-height: 60px;
        font-size: 48px;
        color: $white-color;
        text-align: center;
    }
}

.rectangles{
    @include flex-direction(row);
    align-self: center;
    gap: 20px;
    margin-bottom: 52px;
    @include height-width(52px, 1000px);
    img{
        @include height-width(52px, 150px);
    }
}
.line{
    align-self: center;
    margin-top: 54px;
    margin-bottom: 58px;
}

.buttons{
    @include flex-direction(row);
    gap: 35px;
    button{
        @include height-width(56px, 202px);
        border-radius: 12px;
        border: none;
        img{
            margin-right: 7px;
        }
    }
    #primary{
        background-color: $golden-color;
        @include font;
        @include fontsize-weight(18px, bold);
        line-height: 0px;
        color: $white-color;
    }
    #secondary{

        background-color: transparent;
        border: 1px solid $white-color;
        @include flex-row-center-center;
        @include font;
        color: $white-color;
        @include fontsize-weight(18px, bold);
        line-height: 0px;
        img{
            @include height-width(18px,18px);
        }
    }
}

@media (min-width: $min-tab) and (max-width: $max-tab) {
    .contact{
        width: 100%;
        border-radius: 0px;
    }
    .top{
        flex-direction: column;
        padding: 0px 0px;
        margin-top: 56px;
        align-items: center;
        p{
            line-height: 52px;
            font-size: 40px;
            margin-bottom: 48px;
        }
    }
    .line{
        margin-top: 56px;
        margin-bottom: 42px;
        img{
            width: 688px;
        }
    }
    .rectangles{
        margin-bottom: 40px;
        @include height-width(52px, 680px);
        img{
            @include height-width(52px, 120px);
            &.extra{
                display: none;
            }
        }
    }
}


@media (max-width: $max-mobile) {
    .contact{
        width: 100%;
        border-radius: 0px;
    }
    .top{
        flex-direction: column;
        padding: 0px 0px;
        margin-top: 56px;
        align-items: center;
        p{
            line-height: 36px;
            font-size: 28px;
            margin-bottom: 30px;
            width: 280px;
        }
    }
    .line{
        margin-top: 36px;
        margin-bottom: 26px;
        img{
            width: 280px;
        }
    }
    .rectangles{
        margin-bottom: 25px;
        @include height-width(159px, 266px);
        flex-wrap: wrap;
        gap: 2px 14px;
        img{
            @include height-width(45px, 126px);
            &.extra{
                display: block;
            }
        }
    }
    

    .buttons{
        @include flex-direction(row);
        flex-direction: column;
        gap: 20px;
        button{
            @include height-width(48px, 240px);
        
            img{
                margin-right: 6px;
            }
        }
        #secondary{
            @include fontsize-weight(16px, bold);
            line-height: 0px;
        }
    }
}

@media (min-width: $min-lap) and (max-width: $max-lap) {
    .contact{
        width: 100%;
        border-radius: 0px;
    }
    .line{
        img{
            width: 80vw;
        }
    }
}
