@import './mixins';
@import './colors';
@import './font';
@import './breakpoints';

.hero-section{
    @include flex-direction(column);
    justify-content: start;
    align-items: center;
    background-color: rgb(255,247,232);
    @include height-width(100vh, 100%);
    
}

.hero-buttons{
    
    & #left{
        background-color: $text-color;
        @include height-width(56px, 220px);
       /*  @include padding(15px,42px); */
        border: none;
        border-radius: 12px;
        margin-right: 20px;
        @include font;
        line-height: 0px;
        font-weight: (bold);
        font-size: 16px;
        color: $white-color;
        &:hover{
            background-color: $white-color;
            color: $text-color;
        }
    }

    & #right{
        background-color: $white-color;
        @include height-width(56px, 180px);
        /* @include padding(15px,42px); */
        border: none;
        border-radius: 12px;
        @include font;
        line-height: 0px;
        font-weight: 600;
        color: $text-color;
        &:hover{
            background-color: $text-color;
            color: $white-color;
        }
    }
}


.hero-img{
    align-self: center;
    margin-bottom: 80px;
    @include flex-row-center-center;
    img{
        @include height-width(auto, 80%);  
        margin-top: -15vh; 
    }
}

.hero-text{
    /* @include height-width(136px, 540px); */
    margin-bottom: 24px;
    margin-top: calc(100px + 10vh);
    p{
        /* @include hero-font; */
        font-family: HK Grotesk, "Bold";
        font-weight: bold;
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 0.2px;
        color: $text-color;
        text-align: center;
        width: auto;
    }
}

.small-text{
    text-align: center;
    @include height-width(32px, 487px);
    margin-bottom: 48px;
    p{
        @include font;
        font-size: 18px;
        color: $small-text;
        line-height: 32px;
        span{
            font-weight: bold;
            text-decoration: underline;
        }
    }
    
}


@media (min-width:$min-tab) and (max-width: $max-tab){
    .hero-section{
        @include height-width(665px, 100%);
        
        .hero-text{
            p{
                @include fontsize-lineheight(48px, 60px);
            }
        }
        .small-text{
            p{
                @include fontsize-lineheight(16px, 28px);  
            }
        }

    }
    .hero-img{
        img{
            @include height-width(auto, 90%);  
            margin-top: -170px; 
        }
    }

}

@media (max-width: $max-mobile) {
    .hero-section{
        text-align: center;
        @include height-width(508px, 100%);
        
        .hero-text{
            /* width: 300px; */
            /* margin: 10px; */
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 16px;
            p{
                @include fontsize-lineheight(32px, 40px);
            }
        }
        .small-text{
            margin-bottom: 36px;
            width: 280px;
            p{
                @include fontsize-lineheight(16px, 28px);  
            }
        }

    }
    .hero-img{
        margin-bottom: 56px;
        img{
            @include height-width(auto, 90%);  
            margin-top: -7%;
        }
    }
    .hero-buttons{
        @include flex-row-center-center;
        flex-wrap: wrap;
        gap: 16px;
        #left, #right{
            @include height-width(48px, 260px);
            margin-right: 0px;
        }
    }
}

@media (min-width: $min-1700px) {
    .hero-img{
        img{
            margin-top: -30vh;
        }
    }
}

@media (min-width: $min-2200px) {
    .hero-img{
        img{
            margin-top: -40vh;
        }
    }
}

@media (min-width: $min-4k) {
    .hero-img{
        img{
            margin-top: -50vh;
        }
    }
}
