@import './mixins';
@import './colors';
@import './font';


.testimonials{
    margin-left: 150px;
    margin-bottom: 100px;
    @include flex-direction(row);
    gap: 30px;
    width: calc(100% - 150px);
    overflow-x: scroll;
    .testimonial, .testimonial-l{
        @include padding(25px, 30px);
        background-color: $white-color;
        @include flex-direction(column);
        justify-content: space-between;
        border-radius: 16px;
        box-shadow: #000 0.01 0px 3px 3px 0px;
        height: 229px;
        img{
            @include height-width(16px, 120.72px);
        }
        .reviewbox{
            @include height-width(auto, 265px);
        }
        #review{
            @include font;
            font-size: 16px;
            /* @include fontsize-weight(16px, Regular); */
            line-height: 27px;
            color: $text-color;
        }
        #name{
            @include hero-font;
            @include fontsize-weight(18px, 600);
            line-height: 22px;
            letter-spacing: 0.22px;
            color: $text-color;
        }
    }
    .testimonial-l{
        width: 430px;
        p{
            width: 370px;
        }
    }
}


@media (min-width: $min-tab) and (max-width: $max-tab) {
    .testimonials{
        margin-left: 40px;
        margin-bottom: 80px;
        gap: 20px;

        .testimonial-l{
            @include height-width(240px, 350px);
            p{
                width: 300px;
            }
        }
        .testimonial{
            @include height-width(240px, 265px);
            
        }

        .testimonial, .testimonial-l{
            padding: 28px 20px 26px 30px;
            .reviewbox{
                width: auto;
            }
            #review{
                line-height: 24px;
            }

        }

}
}

@media (max-width: $max-mobile) {
    .testimonials{
        margin-left: 20px;
        margin-bottom: 56px;
        gap: 10px;
        width: calc(100% - 20px);

        .testimonial-l, .testimonial{
            @include height-width(236px, 270px);
            p{
                width: 240px;
            }
        }
       
        .testimonial, .testimonial-l{
            padding: 0px 0px 0px 0px;
            .reviewbox{
                /* width: auto; */
            }
            #review{
                line-height: 25.2px;
            }

        }

    }


}